body {
    background-color: #E0E0E2;
    font-family: "Markazi Text", serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 5%;
    margin-left: 5%;
}
header img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

nav{
    background-color: rgb(69, 72, 64);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
    
}
nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    display: flex;
    padding-inline-start: 30%;
    
}

nav ul li a {
    margin-left: 3rem;
    color:white;
    text-decoration: none;

}

nav ul li a:active{
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration-color: rgb(132, 162, 125);
}

main h2{
    margin-left: 10px;
    font-size: 2rem;
}

p{
    font-weight: 400;
    font-size: 1.3rem;
}
section{
    display: flex;
    gap:2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
article{
    flex: 1;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
}

#history {
    background-color: bisque;
    background-size: cover;
    background-position: center;
    color: #495E57;
    text-shadow: 2px 2px 8px #d2eecd;
    text-align: left;
}


#history h1 {
    margin-left: 2rem;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#history p {
    max-width: 100%;
    margin-left: 16rem;
    margin-right: 2rem;
}
.container{
    display: table flex;
}
.container .columns{
    display: table-cell;
    gap: 1rem;
    background-color: bisque;
    border: 1px solid #dbceae;
    flex-direction: column;
    justify-content: start;
    margin-top: 1%;
    border-radius: 25px 1px 25px 1px;
}
.columns p{
    margin-right: 2rem;
    margin-left: 2rem;
}
.columns a{
    margin-left: 2rem;
    font-size: 16px;
}
.columns:hover{
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    transition: 0.5s ease;

}
.columns img{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 25px 1px 25px 1px;
    max-width: 100%;
}
.columns ul{
    list-style-type: none;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    align-items: center;
    margin: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer div img {
    margin: auto;
    max-width: 100%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
}

footer div {
    flex: 1;
}

footer div ul{
    list-style-type: none;
}

#copyright {
    padding-top: 12px;
    font-size: 0.75em;
}

